* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Mosk Semi-Bold 600';
  font-style: normal;
  font-weight: normal;
  src: local('Mosk Semi-Bold 600'), url('./font/Mosk\ Semi-Bold\ 600.woff') format('woff');
  }

.App {
  text-align: center;
}

.porfolio-title {
  font-family: 'Mosk Semi-Bold 600', Arial, Helvetica, sans-serif
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-section {
  background-color: #dee2eb;
  min-height: 80vh;
}
.nav-title {
  display: flex;
  justify-content: space-evenly;
}

.book-list {
  width: 80%;
  background-color: wheat;
  margin: 15px auto;
  padding: 5px;
  border-radius: 5px;
}

.book-list:hover{
  background-color: black;
  color: wheat;
  cursor: pointer;
}

/* .three-col {
  float: left;
  width: 33.33%;
} */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

li {
  list-style-type: none;
  padding: 5px 20px;
  border-radius: 5px;
}

li:hover{
  background-color: #282c34;
  color: white;
  border-radius: 5px;
}

h3 {
  padding-top: 10px;
}

a {
  text-decoration: none;
}